:root {
    --dark-bg-color: black;
    --light-bg-color: white;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: SST,helvetica,arial,sans-serif;
    background-color: var(--light-bg-color);
}

h1{
    font-weight: 300;
}

a:link{
    text-decoration: none;
}

.navigation-bar{

    & .top-bar{
        height: 3vh;
        background-color: black;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & img{
            height: 45%;
            margin-right: 1%;
        }
    }

    & nav{
        display: flex;
        justify-content: space-between;
        height: 5vh;

        & .nav-left{
            display: flex;
            height: 100%;
            gap: 2%;
            align-items: center;

            & img{
                height: 80%;
                display: inline-block;
                margin-left: 2%;
            }

            & ul{
                display: flex;
                list-style-type: none;
                gap: 5%;

                & a{
                    color: black;
                }
            }
        }

        & .nav-right{
            display: flex;
            align-items: center;
            height: 100%;
            width: 6%;

            & .sign-in{
                border-radius: 25px;
                background-color: black;
                color: white;
                display: flex;
                height: 60%;
                padding: 0 12px 4px;
                align-items: center;
            }
        }
    }
}

.holiday-banner{
    height: 70vh;
    background-image: url("./assets/deel-1/hero-banner.png");
    background-size: cover;
    background-position: center;
    display: flex;
    color: #b5aeae;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    & h1{
        margin-top: 3%;
    }

    & p{
        max-width: 40%;
        text-align: center;

    }

    & .start-shopping-btn{
        background-color: orangered;
        border-radius: 25px;
        padding: 2px 10px 4px;
        color: white;
    }
}

.card-row{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    & a{
        height: 60%;
            }
        & img {

            border-radius: 10px;
            height: 100%;

        }


  }
.introduction{
    display: grid;
    height: 75vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
            'top top'
            'left right'
            'bottom bottom';
    & .is-top{
    grid-area: top;
    display: flex;
        flex-direction: column;
        align-items: center;

        & .is-top-first-p{
            color: rgb(0, 104, 205);
            font-weight: bold;

        }
        & h2{
            margin-bottom: 2%;
        }
    }
    & .is-left{
        grid-area: left;

    }
    & .is-right{
        grid-area: right;
        display: flex;
        justify-content: center;
        align-items: center;

        display: flex;
        justify-content: center;
        align-items: center;
            &img{
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }
    }
    & .is-bottom{
        grid-area: bottom;

    }
}

.first-section{
    height: 70vh;
    background-image: url("./assets/deel-1/hero-banner.png");
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}