* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'SST', helvetica, arial, sans-serif;
}

.navigation-section {
    height: 9vh;

    & .black-section {
        background-color: black;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        & img {
            height: 80%;
        }
    }

    & nav {
        height: 70%;

        & img {
            height: 100%;
        }
    }
}

.navigation-section .black-section {

}