* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://cdn.discordapp.com/attachments/1049369592771923978/1320176162936197180/pink-clouds-wallpaper-picjumbo-com.jpg?ex=6768a55c&is=676753dc&hm=90356b1ce64dd65a9b5df1b7dc9651237588b1d199208d961ec56e299584c1c4&');
    color: #333;
    line-height: 1.6;
    font-size: 12pt;
}

.cv-container {
    max-width: 900px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 165px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.header-info h1 {
    font-size: 2em;
    color: #222;
}

.header-info p {
    font-size: 1.2em;
    color: #666;
}

.contact a {
    color: #0077cc;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

main h2 {
    font-size: 1.8em;
    color: #222;
    margin-bottom: 10px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.job h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.job-info {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

ul {
    margin-left: 20px;
    list-style: disc;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}

.left-align {
    width: 32%;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
}

.middle-align {
    width: 33%;
    display: inline-block;
    text-align: center;
}

.right-align {
    width: 33%;
    display: inline-block;
    text-align: right;
}

.button {
    width: 30%;
    display: inline-block;
    border-radius: 10px;
    background-color: black;
    color: white;
    text-align: center;
    height: 40%;
    padding: 12px 20px;
    justify-content: center;
    font-size: 16px;
}

@media (max-width: 768px) {

    .job-table {
        display: none;
    }


    .job-info {
        display: block;
    }

    .job {
        margin-bottom: 20px;
    }
}
